extends layout

block content
  // Search and Sort Form
  form(id="searchForm" action="/" method="get")
    div(class="filter-container")
      input(class="search-bar" type="text" name="q" placeholder="Search posts..." value=(q || ''))
      div(class="filter-group")
        label(class="filter-label") Sort
        select(id="sortDropdown" class="filter-dropdown" name="sort")
          option(value="created_at:desc" selected=(sort === 'created_at:desc')) Newest First
          option(value="created_at:asc" selected=(sort === 'created_at:asc')) Oldest First
          option(value="title:asc" selected=(sort === 'title:asc')) Title A-Z
          option(value="title:desc" selected=(sort === 'title:desc')) Title Z-A

  // List of Posts
  if noPostsFound
    p Sorry, no posts found.
  else
    ul
      each post in posts
        li
          a(href=`/post/${post.id}`) #{post.title} by #{post.author} (#{post.created_at.toLocaleDateString()})

  script.
    document.getElementById('sortDropdown').addEventListener('change', function() {
      document.getElementById('searchForm').submit();
    });
