doctype html
html(lang="en")
  head
    base(href="/")
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header.navbar
      a(href="/")
        h1.title Blog with Express
      nav
        ul
          li
            a.navbar-button(href="/create") + Create Post
          li
            a.navbar-button(href="/stats") Post Stats
      .navbar-account
        if user && Object.keys(user).length > 0
          .navbar-user-info
            span.welcome-text Welcome, #{user.name}!
            a(href="/profile")
              img(class="profile-icon", src=profileIcon, alt='Profile Picture')
            a.logout-button(href="/logout") Logout
        else
          .navbar-account-buttons
            a.login-button.light-blue-button(href="/login") Login
            div 
            a.register-button.light-blue-button(href="/register") Register
    main
      h1=title
      block content
      block scripts
