extends layout 

block content
	h2 Profile Picture
	img(class="profile-picture image-container", src='resources/profile-icon.jpg', alt='Profile Picture')
	button(class="image-container image-container-buttons") Change Image
	button(class="image-container image-container-buttons") Remove Image
	div.details-container
	h2 Details
		p.details Name: #{user.user.name}
		p.details Email: #{user.user.email}
	div.change-credentials
		a(href="/profile/edit")
			button.change-credentials-buttons Edit Details
		a(href="/profile/change-password")
			button.change-credentials-buttons Change Password
	a(href="/profile/delete-account")
		button(class="danger delete-account") Delete Account