extends layout 

block content
	h2 Profile Picture
	.image-container
		.image-selector
			form(action='/profile', method='POST')
				input(type='hidden', name='action', value='prevPicture')
				button <
			.profile-picture-container
				img.profile-picture(src=profilePicture, alt='Profile Picture')
				form(action='/profile', method='POST')
					input(type='hidden', name='action', value='savePicture')
					button.save-icon 💾
			form(action='/profile', method='POST')
				input(type='hidden', name='action', value='nextPicture')
				button >
	div.details-container
	h2 Details
		p.details Name: #{user.user.name}
		p.details Email: #{user.user.email}
	div.change-credentials
		a(href="/profile/edit")
			button.change-credentials-buttons Edit Details
		a(href="/profile/change-password")
			button.change-credentials-buttons Change Password
	a(href="/profile/delete-account")
		button(class="danger delete-account") Delete Account