body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

form {
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.light-blue-button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: #007bff; /* Light blue background */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 8px; /* Adds spacing between buttons */
  transition: background 0.3s ease-in-out;
}

.light-blue-button:hover {
  background: #0056b3; /* Darker blue on hover */
}

.navbar-account-buttons {
  display: flex;
  gap: 10px; /* Adds spacing between buttons */
  align-items: center; /* Vertically aligns buttons */
}

button:hover {
  background: #555555;
}

button.danger {
  background: #ff0000;
}

button.danger:hover {
  background: #ff4747;
}

.logout-button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.logout-button:hover {
  background: red;
  color: white;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-icon:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #e0e0e0;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.navbar-button {
  background-color: #555555;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  color: white;
}

.navbar-button:hover {
  background-color: #333;
}

.navbar-account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.navbar-account-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar-user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-user-info .welcome-text {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}
