extends layout

block content
	p Change your password below.
	form(action='/profile/change-password', method='POST')
		.form-group
			label(for='oldPassword') Old Password
			input#oldPassword.form-control(type='password', name='oldPassword', required)
		.form-group
			label(for='newPassword') New Password
			input#newPassword.form-control(type='password', name='newPassword', required)
		.form-group
			label(for='confirmPassword') Confirm New Password
			input#confirmPassword.form-control(type='password', name='confirmPassword', required)
		button.btn.btn-primary.btn-block(type='submit') Change Password