extends layout

block content
  p Are you sure you want to delete your account?
  form#deleteAccountForm(action='/profile/delete-account', method='POST')
    label(for='password') Password
    input#password.form-control(type='password', name='password', required)
    .horizontal
      button(type='submit', class="danger") Delete Account
      a(href='/profile')
        button Return to Profile

  // Modal
  .modal.fade#responseModal(tabindex='-1' role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Response
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p#responseMessage
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

block scripts
  script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js')
  script(src='/js/delete-account.js')